
<h1>About us</h1>
<p>
  <a href="http://railstutorial.org">Ruby on Rails Tutorial</a>
  projecto de un libro y un screencast para enseñar desarrollo de web con Rails
  <a href="http://rubyonrails.org/"> Ruby on Rails </a>. Esta es una muestra del 
  tutorial   
</p> 

